# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles
!.idea/inspectionProfiles

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio captures
captures/

# Native build
.externalNativeBuild/
.cxx/

# macOS
.DS_Store